main {
    & > article {
        margin-bottom: 26px;
        @media (max-width: 680px) {
            margin-bottom: 22px;
        }
        &:nth-child(1) {
            margin-top: 26px;
            @media (max-width: 680px) {
                margin-top: 22px;
            }
        }
        h1.title {
            word-break: break-all;
            @media (max-width: 680px) {
                font-size: 28px;
            }
        }
        span.time {
            border-bottom: 1px #ccc dashed;
            @media screen and (prefers-color-scheme: dark) {
                border-bottom: 1px #484848 dashed;
            }
            width: 100%;
            display: block;
            padding-bottom: 11px;
            margin-bottom: 11px;
            color: #777;
            @media screen and (prefers-color-scheme: dark) {
                color: #6f6f6f;
            }
        }
        & > .content {
            font-size: 16px;
            letter-spacing: 0.23px;
            line-height: 27px;
            word-break: break-all;
            p {
                margin: 12px 0;
            }
            ul, ol {
                padding-left: 26px;
                li {
                    p {
                        margin: 0;
                    }
                }
            }
            dd {
                margin-left: 28px;
            }
            hr {
                border: 1px transparent;
                border-bottom: 1px #ccc dashed;
            }
            pre {
                font-size: 14px;
                line-height: 18px;
                code {
                    &::-webkit-scrollbar {
                        width: 16px;
                        height: 16px;
                    }
                    &::-webkit-scrollbar-thumb {
                        border-radius: 8px;
                        background: rgb(153, 153, 153);
                        border: 3px solid #f5f6f7;
                        @media screen and (prefers-color-scheme: dark) {
                            background: #666;
                            border: 3px solid #272822;
                        }
                    }
                    &::-webkit-scrollbar-track-piece {
                        background: #f5f6f7;
                        @media screen and (prefers-color-scheme: dark) {
                            background: #272822;
                        }
                        border-radius: 0 0 5px 5px;
                    }
                }
            }
            img {
                max-width: 100%;
                &.lightbox-used {
                    cursor: zoom-in;
                }
            }
            blockquote {
                margin: 0;
                background: #eee;
                box-shadow: inset #c7c7c7 4px 0 0 0;
                @media screen and (prefers-color-scheme: dark) {
                    background: invert($color: #eee);
                    box-shadow: inset invert($color: #c7c7c7) 4px 0 0 0;
                }
                padding: 4px 8px 4px 12px;
                blockquote {
                    background: rgba(0, 0, 0, 0.11);
                    box-shadow: inset rgba(0, 0, 0, 0.123) 4px 0 0 0;
                }
            }
            @for $i from 1 through 6 {
                h#{7 - $i} {
                    font-size: 12px + $i * 4px;
                    margin: ($i * 3px + 4px) 0;
                    line-height: ($i * 8px + 8px);
                }
            }
            mark {
                margin: 0 1px;
                padding: 1px;
                background: #444;
                color: #eee;
            }
            abbr {
                border-bottom: 1px dotted;
                text-decoration: none;
            }
            code {
                background: #ddd;
                @media screen and (prefers-color-scheme: dark) {
                    background: #272822;
                    color: #ddd;
                }
                padding: 4px;
                border-radius: 5px;
            }
            table {
                margin-top: 20px;
                margin-bottom: 40px;
                border-collapse: collapse;
                width: 100%;
                th, td {
                    padding: 8px;
                    text-align: left;
                    border-bottom: 1px solid #ddd;
                    @media screen and (prefers-color-scheme: dark) {
                        border-bottom: 1px solid invert($color: #ddd);
                    }
                }
                tr:hover {
                    background-color: #f3f3f3;
                    @media screen and (prefers-color-scheme: dark) {
                        background-color: invert($color: #f3f3f3);
                    }
                }
            }
        }
        .comment {
            padding: 40px 0;
            @media (max-width: 680px) {
                margin-left: -15px;
                margin-right: -15px;
            }
        }
    }
}

.body-page {
    main {
        padding-top: 70px;
        article {
            h1.title {
                margin: 0px;
                padding: 6px 0;
                line-height: 60px;
                font-size: 40px;
                @media (max-width: 680px) {
                    font-size: 36px;
                }
            }
            span.time {
                padding-top: 5px;
                padding-bottom: 16px;
                margin-bottom: 16px;
            }
        }
    }
}