footer {
    border-top: 1px #ccc dashed;
    color: #b4b4b4;
    @media screen and (prefers-color-scheme: dark) {
        border-top: 1px #484848 dashed;
        color: #6f6f6f;
    }
    padding: 12px 0;
    font-size: 16px;
    text-align: center;
    min-height: 18px;
    line-height: 26px;
    .wrap {
        max-width: 1000px;
        .left {
            float: left;
            @media (max-width: 680px) {
                width: 100%;
                text-align: left;
            }
        }
        .right {
            float: right;
            @media (max-width: 680px) {
                float: left;
            }
        }
    }
    a, a:hover {
        color: #b4b4b4;
        @media screen and (prefers-color-scheme: dark) {
            color: #6f6f6f;
        }
        font-weight: bold;
    }
}