.body-index {
    header {
        &::before {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 55px;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0) 100%);
            z-index: -1;
            opacity: 0;
            transition: opacity 0.23s;
            content: "";
        }
        &.top {
            &::before {
                opacity: 1;
            }
            background-color: transparent;
            box-shadow: 0 2px 35px 0 rgba(0, 0, 0, 0);
            color: rgba(255, 255, 255, 0.952);
            ul {
                li {
                    a {
                        transition: color 0.21s, box-shadow 0.21s;
                        box-shadow: inset rgba(255, 255, 255, 0.952) 0 0 0 0;
                        &:hover {
                            box-shadow: inset #FFF 0 -3px 0 0;
                        }
                    }
                }
            }
            a {
                color: #FFF;
                &:hover {
                    color: rgba(255, 255, 255, 0.952);
                }
            }
        }
    }
    section.index-bg {
        max-height: 420px;
        height: 70vh;
        @media (max-width: 767px) {
            min-height: 250px;
            height: 54vh;
        }
        background-color: #66ccff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        box-shadow: 0 0 24px 0 rgba(0,0,0,0.58);
        .info {
            position: absolute;
            width: 100%;
            bottom: 0;
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.72) 100%);
            .wrap {
                padding: 50px 18px 18px 18px;
                max-width: 820px;
                color: #FFF;
                text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.356);
                h1 {
                    margin: 10px 0;
                    font-size: 34px;
                }
                p {
                    line-height: 0px;
                    margin: 22px 0 12px 0px;
                    font-size: 16px;
                }
            }
        }
        .avatar {
            position: absolute;
            width: 126px;
            height: 126px;
            bottom: -16px;
            left: calc(50% + 284px);
            @media (max-width: 767px) {
                display: none;
            }
            @media (max-width: 819px) {
                left: calc(100% - 144px);
            }
            background-color: #FFF;
            border-radius: 50%;
            box-shadow: 3px 3px 6px rgba(0,0,0,0.6);
            div {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate3d(-50%, -50% ,0);
                width: 118px;
                height: 118px;
                background-repeat: no-repeat;
                background-position: bottom;
                background-size: cover;
                border-radius: 50%;
            }
        }
    }
    main div.nav {
        padding: 6px 0;
        margin-bottom: 78px;
        @media (max-width: 680px) {
            padding: 6px 15px;
        }
        .prev, .next {
            background: #6ad;
            color: #fff;
            @media screen and (prefers-color-scheme: dark) {
                background: #111;
                color: #ccc;
            }
            border: 0;
            padding: 10px 20px;
            transition: background-color .2s, box-shadow .2s;
            cursor: pointer;
            &:hover {
                background: lighten($color: #6ad, $amount: 15%);
                @media screen and (prefers-color-scheme: dark) {
                    background: lighten($color: #111, $amount: 10%);
                }
                text-decoration: none;
            }
        }
        .prev {
            float: left;
        }
        .next {
            float: right;
        }
    }
}