/*
  Five-color theme from a single blue hue.
  https://github.com/highlightjs/highlight.js/blob/master/src/styles/mono-blue.css
*/
main article .content pre code,
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #f5f6f7;
    border-radius: 4px;
    color: #00193a;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-name,
.hljs-strong {
    font-weight: bold;
}

.hljs-comment {
    color: #738191;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-addition,
.hljs-tag,
.hljs-quote,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
    color: #0048ab;
}

.hljs-meta,
.hljs-subst,
.hljs-symbol,
.hljs-regexp,
.hljs-attribute,
.hljs-deletion,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-bullet {
    color: #4c81c9;
}

.hljs-emphasis {
    font-style: italic;
}

@media screen and (prefers-color-scheme: dark) {
    main article .content pre code,
    .hljs {
        display: block;
        overflow-x: auto;
        padding: .5em;
        border-radius: 4px;
        background: #272822;
        color: #ddd
    }

    .hljs-keyword,
    .hljs-literal,
    .hljs-name,
    .hljs-selector-tag,
    .hljs-strong,
    .hljs-tag {
        color: #f92672
    }

    .hljs-code {
        color: #66d9ef
    }

    .hljs-class .hljs-title {
        color: #fff
    }

    .hljs-attribute,
    .hljs-link,
    .hljs-regexp,
    .hljs-symbol {
        color: #bf79db
    }

    .hljs-addition,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-bullet,
    .hljs-emphasis,
    .hljs-section,
    .hljs-selector-attr,
    .hljs-selector-pseudo,
    .hljs-string,
    .hljs-subst,
    .hljs-template-tag,
    .hljs-template-variable,
    .hljs-title,
    .hljs-type,
    .hljs-variable {
        color: #a6e22e
    }

    .hljs-comment,
    .hljs-deletion,
    .hljs-meta,
    .hljs-quote {
        color: #75715e
    }

    .hljs-doctag,
    .hljs-keyword,
    .hljs-literal,
    .hljs-section,
    .hljs-selector-id,
    .hljs-selector-tag,
    .hljs-title,
    .hljs-type {
        font-weight: 700
    }
}